@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
}

.background span {
    fill: none;
	stroke-width: 3.5;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #30f19e;
    top: 97%;
    left: 9%;
    animation-duration: 16s;
    animation-delay: -23s;
    transform-origin: 23vw -11vh;
    box-shadow: -40vmin 0 5.319612727667142vmin currentColor;
}
.background span:nth-child(1) {
    color: #30f19e;
    top: 21%;
    left: 13%;
    animation-duration: 8s;
    animation-delay: -22s;
    transform-origin: -12vw -4vh;
    box-shadow: -40vmin 0 5.6544741381153765vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 92%;
    left: 81%;
    animation-duration: 53s;
    animation-delay: -27s;
    transform-origin: -17vw -7vh;
    box-shadow: -40vmin 0 5.072332189575248vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 92%;
    left: 26%;
    animation-duration: 28s;
    animation-delay: -6s;
    transform-origin: -10vw -16vh;
    box-shadow: -40vmin 0 5.0704002917117705vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 1%;
    left: 66%;
    animation-duration: 48s;
    animation-delay: -10s;
    transform-origin: -24vw -3vh;
    box-shadow: 40vmin 0 5.240869918536849vmin currentColor;
}
.background span:nth-child(5) {
    color: #30f19e;
    top: 40%;
    left: 91%;
    animation-duration: 44s;
    animation-delay: -13s;
    transform-origin: 8vw 17vh;
    box-shadow: 40vmin 0 5.893146225696982vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 56%;
    left: 88%;
    animation-duration: 34s;
    animation-delay: -50s;
    transform-origin: -11vw 12vh;
    box-shadow: -40vmin 0 5.210575438600732vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 74%;
    left: 46%;
    animation-duration: 48s;
    animation-delay: -25s;
    transform-origin: 1vw -6vh;
    box-shadow: 40vmin 0 5.346878352126787vmin currentColor;
}
.background span:nth-child(8) {
    color: #30f19e;
    top: 85%;
    left: 26%;
    animation-duration: 42s;
    animation-delay: -31s;
    transform-origin: 14vw -19vh;
    box-shadow: -40vmin 0 5.066873408464614vmin currentColor;
}
.background span:nth-child(9) {
    color: #30f19e;
    top: 38%;
    left: 37%;
    animation-duration: 7s;
    animation-delay: -45s;
    transform-origin: 20vw -7vh;
    box-shadow: -40vmin 0 5.198962271590578vmin currentColor;
}
.background span:nth-child(10) {
    color: #30f19e;
    top: 85%;
    left: 79%;
    animation-duration: 17s;
    animation-delay: -40s;
    transform-origin: 15vw -22vh;
    box-shadow: -40vmin 0 5.277299825003126vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 99%;
    left: 45%;
    animation-duration: 16s;
    animation-delay: -25s;
    transform-origin: -14vw -7vh;
    box-shadow: -40vmin 0 5.791692333433922vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 80%;
    left: 1%;
    animation-duration: 38s;
    animation-delay: -3s;
    transform-origin: 17vw 24vh;
    box-shadow: -40vmin 0 5.828955768305205vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 69%;
    left: 78%;
    animation-duration: 18s;
    animation-delay: -36s;
    transform-origin: 18vw -17vh;
    box-shadow: -40vmin 0 5.9430384652147445vmin currentColor;
}
.background span:nth-child(14) {
    color: #30f19e;
    top: 39%;
    left: 100%;
    animation-duration: 10s;
    animation-delay: -43s;
    transform-origin: -19vw -23vh;
    box-shadow: 40vmin 0 5.642097442839032vmin currentColor;
}
.background span:nth-child(15) {
    color: #30f19e;
    top: 20%;
    left: 73%;
    animation-duration: 14s;
    animation-delay: -2s;
    transform-origin: -13vw 23vh;
    box-shadow: 40vmin 0 5.011139605317277vmin currentColor;
}
.background span:nth-child(16) {
    color: #30f19e;
    top: 76%;
    left: 68%;
    animation-duration: 12s;
    animation-delay: -23s;
    transform-origin: 16vw -14vh;
    box-shadow: -40vmin 0 5.845249204323725vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 56%;
    left: 4%;
    animation-duration: 44s;
    animation-delay: -28s;
    transform-origin: 21vw -6vh;
    box-shadow: -40vmin 0 5.696554449919032vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 81%;
    left: 24%;
    animation-duration: 32s;
    animation-delay: -11s;