


.background{
    background: url(../../assets/img/fond.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav{
    
    display: flex;
    gap: 10px;
    margin-left: 110px !important;
    text-decoration: none;
}
.nav-item{
    font-size: 20px;
}
.nav-item a{
 
    font-family: 'Space Mono', monospace;
    text-decoration: none !important;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}


.nav-item  a:hover {
background-color: rgb(171, 171, 171);
    z-index: 1;
    font-family: 'Space Mono', monospace;

}

.title{

    display: flex;
    font-family: 'Space Mono', monospace;
    font-size: 70px;
    justify-content: left !important;
    

}

.graph{
    display: flex;
    justify-content: left !important;
    font-size: 15px;
    text-decoration: none !important;
    margin-top: 10px;
    margin-left: 110px !important;
    font-family: 'Space Mono', monospace;
    color: rgb(219, 216, 216) !important;
}


.gallery{
    display: flex;
    margin-top: 30px !important;
   
    }


img {
    display: flex;
    margin: 20px;
   
 
   
}
   .img1{
      display: flex;
      justify-content: left;
  
  
}

.img1:hover{
    opacity: 20%;
    transition: 1s;
     
}
 

    .img2{
        display: flex;
    
      
    }
    .img2:hover{
        opacity: 20%;
        transition: 1s;
        
       
    }
    
    .img3{
        display: flex;
    
    
       
    }
    
    .img3:hover{
        opacity: 20%;
        transition: 1s;
       
    }
    .img4:hover{
        opacity: 20%;
        transition: 1s;
       
    }

    .img5:hover{
        opacity: 20%;
        transition: 1s;
       
    }

    .img6:hover{
        opacity: 20%;
        transition: 1s;
       
    }

    a{
        background-color: transparent !important;
    }

    
@media only screen and (max-width: 900px) {
    
    .gallery{
        display: flex;
        flex-direction: column;
        z-index: 3;
        margin: 50px !important;
      
    }

    .img{
        display: flex;
        flex-direction: column;
       
       
        }

    .img1{
      display: flex;
      justify-content: left;
      margin-top: 10px !important;
      width: 700px;
    
  
}

        .img2{
            display: flex;
            width: 750px;
            flex-direction: column;
             margin-top: 50px !important;
           
            }

      .img3{
        display: flex;
        flex-direction: column;
        width: 800px;
      margin-top: 50px !important;
       
    }
        a{
            display: flex;
            flex-direction: column;
        }

        .wavesA{
            display: flex;
            flex-direction: column;
            
        }
  }