.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
  

a{
    text-decoration: none;
    color: white !important;
    text-decoration: underline;

}
a:hover{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    
}

.logo{
display: flex;
color: white !important;
flex-direction: row;

} 
.img{
display: flex;
flex-direction: row;
color: rgb(255, 255, 255) !important;

}
.img1:hover{
    
        opacity: 20%;
        
}

.img2:hover{
    
    opacity: 20%;
   

}

.img3:hover{
    
    opacity: 20%;
   

}
.img4:hover{
    
    opacity: 20%;
   
}
.img5:hover{
    
    opacity: 20%;
   

}
.img6:hover{
    
    opacity: 20%;
   

}

.Text{
    display: flex;  
    margin-top: 20px;
    color: rgb(219, 216, 216) !important;
    font-size: 20px;
    font-family: 'Space Mono', monospace;

}


.background{
    background: url(../../assets/img/fond.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .background{
        background: url(../../assets/img/fond.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles pour cette Media Queries */


    }

    .background{
        background: url(../../assets/img/fond.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .title{

        display: flex;
        font-family: 'Space Mono', monospace;
        font-size: 60px;
        justify-content: left !important;
        
    
    }
    